* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* --- NAVBAR --- */

nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

nav a, footer a, .descarga a, .redes a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 15px 5px;
}

nav a {
    color: #FFFFFF;
}

nav a:hover {
    color: rgba(240, 66, 80, 0.822);
}

.navbar {
    width: 65%;
    display: flex;
    justify-content: space-around;
}

.indexA {
    margin-left: 10px;
}

.fa-code {
    color: rgba(240, 66, 80, 0.822);
}

/* --- NAVBAR --- */

/* --- INDEX --- */
.backgound {

    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, #000000b9, #1c1c1cde), url(../Media/code.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -20px;
}

.index {
    width: 65%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-bottom: 25px;
}

.index p, .descarga p, .descarga a  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 1.75rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.index h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

.index a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

.index i {
    color: rgba(240, 66, 80, 0.822);
}

footer {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    position: static;
    bottom: 0;
}

footer a, footer p {
    color: #FFFFFF;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.descarga {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    padding-top: 25px;
    margin-bottom: 25px;
}

/* --- FIN INDEX --- */


/* --- CARD --- */
.Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 260px;
    height: 120px;
    border: 2px solid black
    ;
    border-radius: 15px;
    margin: 20px;
    transition: all 0.2s;
    box-shadow: -9px 10px 21px -8px rgba(0,0,0,0.74);
}

.Card:hover {
    transform: scale(1.05);
}

.Card .text {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}
.Card .general {
    font-size: 14px;
    padding: 2px;
    width: fit-content;
    border: 2px solid black;
    border-radius: 5px;
    background-color: grey;
    color: white;
}

.Card .css {
    font-size: 14px;
    padding: 2px;
    width: fit-content;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #2862e9;
    color: white;
}

.Card .html {
    font-size: 14px;
    padding: 2px;
    width: fit-content;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #dd4b25;
    color: white;
}

.Card .github {
    font-size: 14px;
    padding: 2px;
    width: fit-content;
    border: 2px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
}

#requisitos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
}

.flex {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

/* --- FIN CARD --- */


/* --- REQUISITOS --- */

#CSS:checked ~ #requisitos .f-github, #CSS:checked ~ #requisitos .f-general, #CSS:checked ~ #requisitos .f-html {
    display: none;
}

#HTML:checked ~ #requisitos .f-css, #HTML:checked ~ #requisitos .f-general, #HTML:checked ~ #requisitos .f-github {
    display: none;
}

#Github:checked ~ #requisitos .f-css, #Github:checked ~ #requisitos .f-general, #Github:checked ~ #requisitos .f-html, #Github:checked ~ #requisitos .f-css-html {
    display: none;
}

#General:checked ~ #requisitos .f-css, #General:checked ~ #requisitos .f-github, #General:checked ~ #requisitos .f-html, #General:checked ~ #requisitos .f-css-html {
    display: none;
}

input {
    opacity: 0;
}

input:checked + label {
    font-weight: bolder;
}

label {
    cursor: pointer;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

label:hover {
    font-weight: bolder;
}

#todo {
    margin-left: 410px;
}

.requisitosH1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.requisitosP {
    text-align: center;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.marginP {
    margin-bottom: 60px;
}

/* --- FIN REQUISITOS --- */

/* --- CONTENIDOS --- */

.contenidosBg {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, #000000ec, #1c1c1cf1), url(../Media/mbackground.jpg);
    margin-bottom: -20px;
    
}

.contenidos {
    width: 65%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenidos h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.contenidos h3, .contenidos h2 {
    color: rgba(240, 66, 80, 0.822);
    font-family: Arial, Helvetica, sans-serif;
}

.contenidos p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 1.75rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* --- CARROUSEL --- */

#conteItemsCarrousel {
    width: 35%;
    height: 360px;
    overflow: hidden;
}

.itemCarrousel {
    height: 100%;
    position: relative;
}

.tarjetaCarrousel {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flechasCarrousel {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}

.flechasCarrousel i {
    color: whitesmoke;
    margin-right: 0px !important;
    padding-left: 0px !important;
}

.tarjetaCarrousel img {
    height: 200px;
}

/* --- FIN CARROUSEL --- */


/* --- FIN CONTENIDOS --- */


/* --- ALUMNA --- */

.flexx {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.alumna {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.alumna .descripcion {
    width: 65%;
}

.alumna img {
    width: 300px;
    height: 350px;
    border: 1px solid black;
    border-radius: 50%;
}

.alumna p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 8px;
    line-height: 1.75rem;
}

.redes {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes .fa-whatsapp {
    font-size: 70px;
    color: 	#25D366;
}

.redes .fa-linkedin-in {
    font-size: 70px;
    color: 	#0e76a8;
}

.redes .fa-envelope {
    font-size: 70px;
    color: 	#db4a39;
}

.redes .fa-instagram {
    font-size: 70px;
    color: 	#c51d34;
}

.redes .fa-github, .redes .fa-link {
    font-size: 70px;
}
/* --- FIN ALUMNA --- */


/* --- PERFIL DEL GRADUADO --- */

.perfilBg {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -20px;
    background-image: linear-gradient(to bottom, #000000b9, #1c1c1cde), url(../Media/perfilg.webp);
}

.perfilGraduado {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.perfilGraduado h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 40px;
    color: #FFFFFF;;
}

.perfilGraduado h3 {
    color: rgba(240, 66, 80, 0.822);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}

.perfilGraduado p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 1.75rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* --- FIN PERFIL DEL GRADUADO --- */

i {
    transition: all 0.2s;
}
i:hover {
    transform: scale(1.04);
}
